body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}

#availability-form {
    margin-bottom: 20px;
}

#availability-form label {
    display: block;
    margin-bottom: 10px;
}

#availability-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#availability-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 12px;
}

#appointments-list {
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 10px;
}

#appointments-list ul {
    list-style-type: none;
    padding: 0;
}

#appointments-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

#logout-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-left: 12px;
}

.appointment {
    border: 1px solid darkgrey;
    padding: 10px;
    margin-bottom: 15px;
}

.approve-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}

.reject-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
}

.reschedule-btn {
    background-color:lightskyblue;
    color: white;
    border: none;
    padding: 10px;
}
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    #availability-form input[type="time"] {
        font-size: 14px;
    }

    #appointments-list li {
        font-size: 14px;
    }

    #logout-btn {
        font-size: 14px;
    }
}
